<a href="https://colab.research.google.com/github/barthas1985/Stock_indicators_Warsaw_Stock_Exchange/blob/main/Itertools_Advanced_Python_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.python-engineer.com/courses/advancedpython/07-itertools/

In [ ]:
from itertools import product

In [ ]:
###Product
a = [1,2]
b = [3]
prod = product(a,b, repeat=2)
print(prod)
print(list(prod))

<itertools.product object at 0x7efce4f20370>
[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [ ]:
###Permutation
from itertools import permutations
a = [1,2,3,4]
perm = permutations(a, 2)
print(list(perm))

[(1, 2), (1, 3), (1, 4), (2, 1), (2, 3), (2, 4), (3, 1), (3, 2), (3, 4), (4, 1), (4, 2), (4, 3)]

In [ ]:
###Combinations
from itertools import combinations, combinations_with_replacement
a = [1,2,3,4]
comb = combinations(a, 2)
print(list(comb))
comb_wr = combinations_with_replacement(a,2)
print(list(comb_wr))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [ ]:
###Accumulated function - iterator that returns acc. sums 
from itertools import accumulate
import operator
a = [1,2,3,4]
b = a.copy()
c = [1,2,3,7,3,4,5]
acc = accumulate(a)
acc1 = accumulate(b, func = operator.mul)
acc2 = accumulate(c, func = max)
print(a)
print('for acc:',list(acc))
print('for acc1:',list(acc1))
print('for acc2:', list(acc2))

[1, 2, 3, 4]
for acc: [1, 3, 6, 10]
for acc1: [1, 2, 6, 24]
for acc2: [1, 2, 3, 7, 7, 7, 7]

In [ ]:
### Group by function- return keys and groups from iterable
from itertools import groupby
a = [1,2,3,4]
def greater_than(x):
  return x>3
  # if x >3:
  #   print('wartość zadana jest większa niż 3')
  # else:
  #   print('wartość zadana jest mniejsza niż 3')

# r1 =greater_than(1)
# r2 =greater_than(6)

group_obj =  groupby(a, key = greater_than) # lambda x: x>3 - more sexy option
print(group_obj)
for key, value in group_obj:
  print(key, list(value))

persons = [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}, 
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28}]
group_obj1 = groupby(persons, key = lambda x: x['age'] )
for key, value in group_obj1:
  print(key, list(value))

<itertools.groupby object at 0x7f47cac8a950>
False [1, 2, 3]
True [4]
25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [ ]:
### Count, cycle, repeat
from itertools import count, cycle, repeat

for i in count(5):
   print(i)
   if i ==50:
     break
a = [1,2,3]
for i in cycle(a):
  print(i)
# for i in repeat('hello there:)',7):
#   print(i)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-5-63c8d6353410>", line 10, in <module>
    print(i)
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/iostream.py", line 400, in write
    self.pub_thread.schedule(lambda : self._buffer.write(string))
  File "/usr/local/lib/python3.7/dist-packages/ipykernel/iostream.py", line 203, in schedule
    self._event_pipe.send(b'')
  File "/usr/local/lib/python3.7/dist-packages/zmq/sugar/socket.py", line 547, in send
    return super(Socket, self).send(data, flags=flags, copy=copy, track=track)
  File "zmq/backend/cython/socket.pyx", line 718, in zmq.backend.cython.socket.Socket.send
  File "zmq/backend/cython/socket.pyx", line 765, in zmq.backend.cython.socket.Socket.send
  File "zmq/backend/cython/socket.pyx", line 242, in zmq.backend.cython.socket._send_copy
  File "zmq/backend/cython/checkrc.pxd", line 13, in zmq.backend.cython.checkrc._check_rc
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 742, in getmodule
    os.path.realpath(f)] = module.__name__
  File "/usr/lib/python3.7/posixpath.py", line 395, in realpath
    path, ok = _joinrealpath(filename[:0], filename, {})
  File "/usr/lib/python3.7/posixpath.py", line 429, in _joinrealpath
    if not islink(newpath):
  File "/usr/lib/python3.7/posixpath.py", line 171, in islink
    st = os.lstat(path)
KeyboardInterrupt

KeyboardInterrupt: ignored

In [ ]:
a = lambda x: x**2
print(a(5))

25

In [ ]:
a = [1,2,3,4,5]
b = [ 2*h for h in a]
print(b)

[2, 4, 6, 8, 10]

In [ ]:
x = 1%5
print(x)

t = [x**2 for x in range(1,101)]
t1 = [x**2%5 for x in range(1,101)]
print(t)
print(t1)


sqr = []
for i in range(1,101):
  sqr.append(i**2)
print(sqr)

squares2 =  [x**2 for x in range(1, 101)]
print(squares2)
print(len(squares2))

fruits = ['banana', 'apple', 'orange']
emp_list = []
for i in fruits:
  if i.startswith('b'):
    x = i.upper()
    emp_list.append(x)
    x = i.upper()
 
print(emp_list)


new_list = [ i for i in fruits if i.startswith('b')]
print(new_list)

movies = [('Citizen Kane', 1941), ('Spirited Away', 2001), ('It is wonderful life', 1946)]
pre2k = [title for (title, year) in movies if year < 2000]
print(pre2k)

v = [2,-3,1]
w = [4*x for x in v]
print(w)
A = [1,3,5,7]
B = [2,4,6,8]
f = [(a,b) for a in A for b in B]
print(f)

1
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
100
['BANANA']
['banana']
['Citizen Kane', 'It is wonderful life']
[8, -12, 4]
[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]

https://www.youtube.com/watch?v=HJpiAZDJrRY

In [ ]:
#1 Slicing
# s = '0123hello'
# s = s[4:9]
# print(s)

#2 strip()
# s = 'hhhhellhh'.strip('ell')
# print(s)
# s = 'hhhellohhhh'.strip('h')
# print(s)
# s1 = 'd bartddd'.strip('d')
# print(s1)
#2 strip()

#3 lstrip()
# s = '   hello   '.lstrip()
# s1 = '   hello   '.rstrip()
# print(s)
# print(s1)
#5/6 removeprefix and removesuffix
# import pathlib

# pathlib.Path("x.png").with_suffix("")
# s = 'Hello_World'.removeprefix()
# print(s)

#7 Replace
# s = ' Hello Bart '.replace(' ', 'XXX')
# print(s)
#8 re.sub
# import re
# s = ' Hello Bart '
# s2 = re.sub('\s+', 'XXX', s)
# print(s2)
#8 Split()
# s ='hell sdsd sd dsdsd '.split(' ', maxsplit=2)
# print(s)
#10. rsplit()
# s ='hell sdsd sd dsdsd'.rsplit(' ', maxsplit=1)
# print(s)

#11 join()
# lista = ['hello', 'world']
# s = '-'.join(lista)
# print(s)
#12 upper lower capitalize
#15and 16 islower() and isupper()
#print('hllo'.islower())
#17 18 19 
# s = '123-ghgh'
# print(s.isalpha(),s.isnumeric(),s.isalnum())
# t = '222'
# if t.isnumeric():
#   print(
#   print(type(t))
# print(t)
#20 count()
print('bbaaaaaa'.count('a'))
#21 find() will serach for index
print('Machine Learning'.find('a',2))
#22 r find
print('Machine Learning'.rfind('n'))
#22,23 
print('Bart'.startswith('v'))
print('Bart'.endswith('T'.lower())) # :)

#25Partition
print('bart is a nice guy'.partition('a'))
#26, 27,28 Center(), ljust(), rjust()
print('Hello World'.center(13,'*'))
print('Hello World'.ljust(13,'*'))
print('Hello World'.rjust(13,'*'))
#29 f string
#30 sawpcase()
print('Bart Gajek'.swapcase())
#31 zfill()
print('34'.zfill(5))
print('-34'.zfill(5))

6
10
14
False
True
('b', 'a', 'rt is a nice guy')
*Hello World*
Hello World**
**Hello World
bART gAJEK
00034
-0034

In [ ]:



def smallest(x,y):
  if x >y:
    return x
  return y

def three_smallest(x,y,z):
  return smallest(x,smallest(y,z))

#smallest(1,2)
print(three_smallest(1,2,3))


def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(7, 6, -5))

# Write a Python function to sum all the numbers in a list. Go to the editor
# Sample List : (8, 2, 3, 0, 7)
# Expected Output : 20

def suma(list_of_no=None):
  if list_of_no == None:
    list_of_none =[]
  else:

In [ ]:
from collections import Counter 
labels = ['a']
total_count = len(labels)
print(len(labels))
print(Counter(labels).keys())
n_labels = [count/total_count for count in Counter(labels).values()]
print(n_labels)

1
dict_keys(['a'])
[1.0]